/* CSS Document */
@charset "utf-8";
@import url(base.css);
body{background:;}

/* title */
.container{
	width: 100%;
	height: auto;
	position: relative;
}
.w_banner{
	width: 100%;
	height: auto;
	position: relative;
}
.w_banner img{
	width: 100%;
	height: auto;
}
.fontBox{
	width: 320px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -160px;
	text-align: center;
	color: #fff;
}
.fontBox h2{
	font-size: 30px;
	font-weight: 200;
}
.fontBox p{
	height: 30px;
	line-height: 30px;
	background:rgba(255,255,255,.3);
	font-size: 20px;
	font-weight: 200;
	opacity: .8;
	margin-top: 10px;
}
.content{
	width: 1120px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.nav{
	width: 95%;
    height: 80px;
    line-height: 80px;
    color: #c08019;
    margin: 0 auto;
}
.nav a{
	color: #c08019;
}
.newList{width: 100%;height: 888px;background: #fcfcfc;}
.news{width: 1200px;height: 750px;margin: 0 auto;background: #fff;padding-top: 20px;}
.news li{width: 95%;height: 70px;line-height: 70px;margin: 0 auto;border-bottom: 1px solid #d3d3d3;}
.news li a{display: block;color: #686868;font-size: 14px;position: relative;}
.headline{text-indent: 20px;}
.time{position: absolute;right: 20px;top: 0;}
.pageList{width: 1200px;height:auto;background: #fff;position: relative;margin:0 auto;}
.lend_page{position: absolute;right: 30px;top: 60px;}
.lend_page a,.lend_page span{display: block;width: 38px;height: 38px;background: #ccb58d;float: left;line-height: 38px;text-align: center;margin-right: 10px;color: #fff;}
.lend_page span{background: #fff;color: #ccb58d;font-size: 20px;line-height: 25px;}
.NavigationBar{width: 95%;height: 40px;line-height: 40px;margin: 0 auto;}
.NavigationBar a{font-size: 14px;color: #333;}
.pre{color: #999!important;}
.cur{color: #333;}














